@font-face {
    font-family: "liberation";
    src: url(LiberationSerif-Regular.ttf); 
}

@font-face {
    font-family: "junicode";
    src: url(junicode-regular-webfont.ttf); 
}


/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */



html, body {
    font-family: sans-serif;
    font-family: "junicode";
    font-family: "liberation";
    margin: 0px;
    padding: 0px;
}

@media print {
    body, html {
        margin: 0px;
        padding: 0px;
    }
}

body {
    font-family: "junicode";
    font-family: "liberation";
    max-width: 900px;
    font-size: 10pt;
    line-height: 1.4;
    width: 15cm;
}

p  {
    font-family: "junicode";
    font-family: "liberation";
    font-family: 'Roboto', sans-serif;

}

.com  {
    color: grey;
    font-size: 85%;
}

.figure {
    max-width: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

img {
    max-width: 100%;
}


video {
    max-width: 500px
}
